{% extends "global/header.html" %}
{% block content %}


<style>
    .gradient {
    background: linear-gradient(to bottom, #1D1856, #0b7da2);
    }
    .jumbotron {
    padding: 5%;
    color: #FFFFFF;

    }

    .center {
    text-align: center;
    }

    .btn-welcome {
    border-radius: 20px;
    }

.box-inline {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}









</style>


<div class="jumbotron gradient">

    <div class="container center" style="width: 50%;">
        <br><br>
        <h2>Detect malwares using the power of data science and machine learning</h2>
        <br><br>
        <p><a class="btn btn-warning btn-lg btn-welcome" role="button">I want a demo <span
                class="glyphicon glyphicon glyphicon-hand-right"></span></a></p>


    </div>

</div>


<div class="container center" style="font-size:medium;">
    <p style="font-size: 20px;">Smart, simple and useful</p>

    <br>

    <div class="box-inline">
        <a href="test.html">
            <span class="glyphicon glyphicon-open" style="font-size:80px;color: #00B9CF"></span>
        </a>

        <br>
        <p><u>Upload</u></p>
    </div>

    <div class="box-inline">
        <span class="glyphicon glyphicon-tasks" style="font-size:80px;color: #00B9CF"></span>
        <br>
        <p><u>Configure</u></p>
    </div>

    <div class="box-inline">
        <span class="glyphicon glyphicon-play-circle" style="font-size:80px;color: #00B9CF"></span>
        <br>
        <p><u>Detect</u></p>
    </div>

    <div class="box-inline">
        <span class="glyphicon glyphicon-check" style="font-size:80px;color: #00B9CF"></span>
        <br>
        <p><u>Protect</u></p>
    </div>
</div>


{% endblock %}